<!DOCTYPE html>
<html>
    <head>
        <title>Rent A Car</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        
    </head>
    <body>
    
    
    <div id="landing-header">
 		<h1>Hit The Road With Us</h1>
		<a href="/index" class="btn btn-lg btn-success">Rent A Car</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>